
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="zavosh" />
    <meta name="robots" content="" />
    <meta name="description" content="@ViewBag.Description" />
    @RenderSection("canonical", required: false)

    <!-- FAVICONS ICON -->
    @*<link rel="icon" href="/images/favicon.ico" type="image/x-icon" />*@
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
    <!-- PAGE TITLE HERE -->
    <title>مبین قطعه آسیا | @ViewBag.Title</title>
    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- [if lt IE 9]>
        <script src="js/html5shiv.min.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif] -->
    <!-- BOOTSTRAP STYLE SHEET -->
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/fontawesome/css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="/assets/css/flaticon.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-select.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/magnific-popup.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/loader.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" class="skin" type="text/css" href="/assets/css/skin/skin-1.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/custom.css">

	<link rel="stylesheet" type="text/css" href="/assets/plugins/revolution/revolution/css/settings.css">
	<link rel="stylesheet" type="text/css" href="/assets/plugins/revolution/revolution/css/navigation.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800italic,800,700italic' rel='stylesheet' type='text/css'>
	<link href="~/Assets/css/style-fa.css" rel="stylesheet"  id="style-rtl" />
  
</head>
<body>
<div class="page-wraper">
	<header class="site-header header-style-1 ">

		<div class="top-bar">
			<div class="container">
				<div class="row">
					<div class="wt-topbar-left clearfix">
						<a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), new { language = "fa",id=ViewContext.RouteData.Values["id"]?.ToString(), productGroupId= ViewContext.RouteData.Values["productGroupId"]?.ToString() }, null)">
							<img id="iran-flag"  src="/assets/images/Flags/ir.png"  height="22px" width="22px" />
						</a>
						<a href="@Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(),new { language = "en",id=ViewContext.RouteData.Values["id"]?.ToString(), productGroupId = ViewContext.RouteData.Values["productGroupId"]?.ToString() }, null)">
							<img id="us-flag"  src="/assets/images/Flags/us.png"  height="22px" width="22px" />
						</a>
					</div>
					<div class="wt-topbar-right clearfix">
						<ul class="social-bx list-inline pull-right">
							<li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-rss"></a></li>
							<li><a href="javascript:void(0);" class="fa fa-youtube"></a></li>
							<li><a href="http://instagram.com/mobin.ghateh" class="fa fa-instagram"></a></li>
						</ul>
						<ul class="list-unstyled e-p-bx pull-right">
							<li><i class="fa fa-envelope"></i>info@mobinghateh.com</li>
							<li><i class="fa fa-phone"></i>(98) 21-3643858-9</li>
							<li><i class="fa fa-fax"></i>(98) 21-36423397</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="sticky-header main-bar-wraper">
			<div class="main-bar bg-white">
				<div class="container">
					<div class="logo-header">
						<a href="/">
							<img src="~/Assets/images/Mobin/logo.png" width="171" height="49" alt="شرکت مبین قطعه آسیا" />
						</a>
					</div>
					<!-- NAV Toggle Button -->
					<button data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggle collapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.Partial("FrontEndLayout/_MenuPartial")


				</div>
			</div>
		</div>

	</header>
	 
			 
	<div class="page-content">
		@RenderBody()
	</div>
	@Html.Partial("FrontEndLayout/_FooterPartial")
	<button class="scroltop"><i class=" fa fa-arrow-up"></i></button>
</div>
	<script src="~/Scripts/UI/changeLanguage.js"></script>
	<!-- JAVASCRIPT  FILES ========================================= -->
	<script type="text/javascript" src="/assets/js/jquery-1.12.4.min.js"></script><!-- JQUERY.MIN JS -->
	<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script><!-- BOOTSTRAP.MIN JS -->

	<script type="text/javascript" src="/assets/js/bootstrap-select.min.js"></script><!-- FORM JS -->
	<script type="text/javascript" src="/assets/js/jquery.bootstrap-touchspin.min.js"></script><!-- FORM JS -->

	<script type="text/javascript" src="/assets/js/magnific-popup.min.js"></script><!-- MAGNIFIC-POPUP JS -->

	<script type="text/javascript" src="/assets/js/waypoints.min.js"></script><!-- WAYPOINTS JS -->
	<script type="text/javascript" src="/assets/js/counterup.min.js"></script><!-- COUNTERUP JS -->
	<script type="text/javascript" src="/assets/js/waypoints-sticky.min.js"></script><!-- COUNTERUP JS -->

	<script type="text/javascript" src="/assets/js/isotope.pkgd.min.js"></script><!-- MASONRY  -->

	<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script><!-- OWL  SLIDER  -->

	<script type="text/javascript" src="/assets/js/stellar.min.js"></script><!-- PARALLAX BG IMAGE   -->
	<script type="text/javascript" src="/assets/js/scrolla.min.js"></script><!-- ON SCROLL CONTENT ANIMTE   -->

	<script type="text/javascript" src="/assets/js/custom.js"></script><!-- CUSTOM FUCTIONS  -->
	<script type="text/javascript" src="/assets/js/shortcode.js"></script><!-- SHORTCODE FUCTIONS  -->
	<!-- REVOLUTION JS FILES -->
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js"></script>

	<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script type="text/javascript" src="/assets/plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js"></script>

	<!-- REVOLUTION SLIDER FUNCTION  ===== -->

	<script type="text/javascript">
		var tpj = jQuery;

		var revapi1014;
		tpj(document).ready(function () {
			if (tpj("#rev_slider_1014_1").revolution == undefined) {
				revslider_showDoubleJqueryError("#rev_slider_1014_1");
			} else {
				revapi1014 = tpj("#rev_slider_1014_1").show().revolution({
					sliderType: "standard",
					jsFileLocation: "revolution/js/",
					sliderLayout: "fullwidth",
					dottedOverlay: "none",
					delay: 9000,
					navigation: {
						keyboardNavigation: "off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation: "off",
						mouseScrollReverse: "default",
						onHoverStop: "off",
						touch: {
							touchenabled: "on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						},
						arrows: {
							style: "hermes",
							enable: true,
							hide_onmobile: false,
							hide_onleave: false,
							tmp: '<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder">{{title}}</div>	</div>',
							left: {
								h_align: "left",
								v_align: "center",
								h_offset: 0,
								v_offset: 0
							},
							right: {
								h_align: "right",
								v_align: "center",
								h_offset: 0,
								v_offset: 0
							}
						}
					},
					viewPort: {
						enable: true,
						outof: "pause",
						visible_area: "80%",
						presize: false
					},
					responsiveLevels: [1240, 1024, 778, 480],
					visibilityLevels: [1240, 1024, 778, 480],
					gridwidth: [1240, 1240, 1240, 1240],
					gridheight: [840, 840, 840, 840],
					lazyType: "none",
					parallax: {
						type: "mouse",
						origo: "slidercenter",
						speed: 2000,
						levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50, 47, 48, 49, 50, 51, 55],
						type: "mouse",
					},
					shadow: 0,
					spinner: "off",
					stopLoop: "off",
					stopAfterLoops: -1,
					stopAtSlide: -1,
					shuffle: "off",
					autoHeight: "off",
					hideThumbsOnMobile: "off",
					hideSliderAtLimit: 0,
					hideCaptionAtLimit: 0,
					hideAllCaptionAtLilmit: 0,
					debugMode: false,
					fallbacks: {
						simplifyAll: "off",
						nextSlideOnWindowFocus: "off",
						disableFocusListener: false,
					}
				});
			}
		}); /*ready*/
	</script>





@RenderSection("scripts", required: false)
</body>

</html>
