@model IEnumerable<Models.Product>

@{
ViewBag.Title = "فهرست " + Server.HtmlDecode(Html.DisplyModelPluralName(model => model).ToString());
    
}

<h2>@ViewBag.Title</h2>

        @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
              {
              columns.Bound(model => model.ProductGroup.Title);
              columns.Bound(model => model.Title);
              columns.Bound(model => model.TitleEn);
              columns.Bound(model => model.ImageUrl).Template(@<text><img src="@item.ImageUrl" height="100px" /></text>);
        columns.Bound(model => model.SubmitDate);
					columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
							.Template(@<text>
									@Html.ActionLink("ویرایش", "Edit", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("حذف", "Delete", new {id = @item.Id}, new {@class = "k-button"})
									@Html.ActionLink("تصاویر جزییات", "Index", "ProducImages", new {id = @item.Id, imageTypeId = "2be0a03b-4495-4fc2-bab3-be4d72e8ab1f" }, new {@class = "k-button"})
@Html.ActionLink("تصاویر مشخصات فنی", "Index", "ProducImages", new { id = @item.Id, imageTypeId = "70d6da13-e72f-453c-a981-e5cc5283cfa2" }, new { @class = "k-button" })

							           
							           </text>).Width(200);  
		})
		.ToolBar(toolbar =>
					{				
						toolbar.Custom().Action("Create","Products").Text("افزودن");                          
					}
		)         
		.DataSource(dataSource => dataSource
									.Server()
							
									.Model(model => model.Id(item => item.Id))
					)              
	)
