@model  Models.ViewModels.HomeViewModel
@{
		Layout = "/Views/shared/FrontEndLayout/_FrontEndLayout.cshtml";
}
<!-- SLIDER START -->
<div class="main-slider style-two default-banner">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<!-- START REVOLUTION SLIDER 5.4.1 -->
			<div id="rev_slider_1014_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="typewriter-effect" data-source="gallery">
				<div id="rev_slider_1014_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.1">
					<ul>

						@foreach (var slider in Model.Sliders)
						{
								<li data-index="rs-3000" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="/assets/images/main-slider/slider2/slide3.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

									<img src="@slider.ImageUrl" alt="" data-bgposition="center bottom" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina />
									<div class="tp-caption tp-shape tp-shapewrapper "
											 id="slide-300-layer-1"
											 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
											 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											 data-width="full"
											 data-height="full"
											 data-whitespace="nowrap"
											 data-type="shape"
											 data-basealign="slide"
											 data-responsive_offset="off"
											 data-responsive="off"
											 data-frames='[
                                        {"from":"opacity:0;","speed":1000,"to":"o:1;","delay":0,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"opacity:0;","ease":"Power4.easeOut"}
                                        ]'
											 data-textAlign="['right','right','right','right']"
											 data-paddingtop="[0,0,0,0]"
											 data-paddingright="[0,0,0,0]"
											 data-paddingbottom="[0,0,0,0]"
											 data-paddingleft="[0,0,0,0]"
											 style="z-index: 12;background-color:rgba(0, 0, 0, 0.10);border-color:rgba(0, 0, 0, 0);border-width:0px;">
									</div>

									<div class="tp-caption   tp-resizeme"
											 id="slide-300-layer-2"
											 data-x="['right','right','right','right']" data-hoffset="['30','30','30','100']"
											 data-y="['top','top','top','top']" data-voffset="['300','300','300','300']"
											 data-fontsize="['60','60','60','50']"
											 data-lineheight="['70','70','70','60']"
											 data-width="['700','700','700','700']"
											 data-height="['none','none','none','none']"
											 data-whitespace="['normal','normal','normal','normal']"
											 data-type="text"
											 data-responsive_offset="on"
											 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
											 data-textAlign="['right','right','right','right']"
											 data-paddingtop="[0,0,0,0]"
											 data-paddingright="[0,0,0,0]"
											 data-paddingbottom="[0,0,0,0]"
											 data-paddingleft="[0,0,0,0]"
											 style="z-index: 13;
                                        white-space: normal;
                                        font-weight: 700;
                                        color: rgba(255, 255, 255, 1.00);
                                        border-width:0px;">
										<span class="text-uppercase"><span class="text-primary">@slider.TitleSrt</span></span>
									</div>

									<!-- LAYER NR. 3 [ for paragraph] -->
									<div class="tp-caption  tp-resizeme"
											 id="slide-300-layer-3"
											 data-x="['right','right','right','right']" data-hoffset="['30','30','30','100']"
											 data-y="['top','top','top','top']" data-voffset="['400','400','400','400']"
											 data-fontsize="['18','18','18','30']"
											 data-lineheight="['30','30','30','40']"
											 data-width="['650','650','650','650']"
											 data-height="['none','none','none','none']"
											 data-whitespace="['normal','normal','normal','normal']"
											 data-type="text"
											 data-responsive_offset="on"
											 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
											 data-textAlign="['right','right','right','right']"
											 data-paddingtop="[0,0,0,0]"
											 data-paddingright="[0,0,0,0]"
											 data-paddingbottom="[0,0,0,0]"
											 data-paddingleft="[0,0,0,0]"
											 style="z-index: 13;
                                        font-weight: 500;
                                        color: rgba(255, 255, 255, 0.85);
                                        border-width:0px;">
										<span>
											@slider.SummarySrt
										</span>
									</div>

									<!-- LAYER NR. 4 [ for readmore botton ] -->
									<div class="tp-caption tp-resizeme"
											 id="slide-300-layer-4"
											 data-x="['right','right','right','right']" data-hoffset="['30','30','30','100']"
											 data-y="['top','top','top','top']" data-voffset="['530','530','530','630']"
											 data-lineheight="['none','none','none','none']"
											 data-width="['300','300','300','300']"
											 data-height="['none','none','none','none']"
											 data-whitespace="['normal','normal','normal','normal']"
											 data-type="text"
											 data-responsive_offset="on"
											 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
											 data-textAlign="['right','right','right','right']"
											 data-paddingtop="[0,0,0,0]"
											 data-paddingright="[0,0,0,0]"
											 data-paddingbottom="[0,0,0,0]"
											 data-paddingleft="[0,0,0,0]"
											 style="z-index:13; text-transform:uppercase; font-weight:700;">
										<a href="@slider.LinkAddress" class="site-button">@slider.LinkTitleSrt</a>
									</div>

									<!-- LAYER NR. 5 [ for worker pic ] -->
									<div class="tp-caption tp-resizeme"
											 id="slide-300-layer-5"
											 data-x="['right','right','right','right']" data-hoffset="['-200','-100','-50','-10']"
											 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['0','0','0','0']"
											 data-frames='[
                                        {"from":"y:100px(R);opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power4.easeOut"},
                                        {"delay":"wait","speed":1000,"to":"y:-50px;opacity:0;","ease":"Power2.easeInOut"}
                                        ]'
											 style="z-index: 13;">
										<img src="/assets/images/main-slider/slider2/banner3-1.png" width="400" alt="">
									</div>

								</li>

						}

					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div>
			<!-- END REVOLUTION SLIDER -->
		</div>
	</div>
</div>
<!-- SLIDER END -->
<!-- OUR VALUE SECTION START -->
<div class="section-full bg-primary">
	<div class="container our-value">
		<div class="row">
			<div class="col-md-8 col-sm-8 p-t15 p-b30 our-value-left">
				<div style="z-index:2; position:relative;">
					<div class="col-md-6 p-tb10">
						<div class="wt-icon-box-wraper left ">
							<div class="icon-md text-primary">
								<a href="#" class="icon-cell">
									<img src="/assets/images/icons/besty-quality.png" alt="">
								</a>
							</div>
							<div class="icon-content text-secondry">
								<h5 class="slogan-title wt-tilte text-uppercase m-b5 text-right">@Model.AfterSliderFirst.Summary1Srt</h5>
								<p>@Model.AfterSliderFirst.Summary2Srt</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 p-tb10">
						<div class="wt-icon-box-wraper left">
							<div class="icon-md text-primary">
								<a href="#" class="icon-cell">
									<img src="/assets/images/icons/24-call-icon.png" alt="">
								</a>
							</div>
							<div class="icon-content text-secondry">
								<h5 class="slogan-title wt-tilte text-uppercase m-b0 text-right">@Model.AfterSliderSecond.Summary1Srt</h5>
								<p>@Model.AfterSliderSecond.Summary2Srt</p>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 p-t50 p-b50 col-md-offset-1 our-value-right">
				<div class="">
					<a href="javascript:;" class="site-button-secondry  m-r15 text-uppercase" style="font-weight:600;">  <i class="fa fa-angle-double-left"></i> 
					@Resources.Label.MenuContact
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section-full bg-gray p-t80 p-b120">
	<div class="container">
		<!-- TITLE START-->
		<div class="section-head text-center">
			<h2 class="text-uppercase">@Resources.Label.CompanyServices</h2>
			<div class="wt-separator-outer">
				<div class="wt-separator style-square">
					<span class="separator-left bg-primary"></span>
					<span class="separator-right bg-primary"></span>
				</div>
			</div>
			<p>@Resources.Label.CompanyServicesDesc</p>
		</div>
		<!-- TITLE END-->
		<div class="section-content no-col-gap">
			<div class="row">

				@foreach (var service in Model.HomeServices)
				{
						<div class="col-md-3 col-sm-6 animate_line">
							<div class="wt-icon-box-wraper  p-a30 center bg-white m-a5">
								<div class="icon-sm text-primary m-b20">
									<a href="#" class="icon-cell"><i class="fa fa-life-ring" aria-hidden="true"></i></a>
								</div>
								<div class="icon-content">
									<h5 class="wt-tilte text-uppercase">@service.TitleSrt</h5>
									<p>@service.HomeSummerySrt	</p>
			</div>
		</div>
	</div>
				}
			</div>
		</div>
	</div>
</div>
<div class="section-full p-t50 p-b50 overlay-wraper bg-parallax" data-stellar-background-ratio="0.5" style="background-image:url(/Assets/images/background/bg-5.jpg);">
	<div class="overlay-main" style="opacity:0.7; background-color:#1a1a1a; "></div>
	<div class="container ">
		<div class="row">
			<div class="col-md-8">
				<div class="text-right text-white">
					<h3 class="font-24">@Model.AboutTextItem.Summary1Srt</h3>
					<h1 class="font-60">@Model.AboutTextItem.TitleSrt</h1>
					<p>@Html.Raw(Model.AboutTextItem.BodySrt)</p>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div><div class="row">
			<div class="col-md-2 col-sm-4">
				<div class="status-marks  text-white m-tb10">
					<div class="status-value text-right">
						<span class="counter">51</span>
						<i class="fa fa-building font-26 m-l15"></i>
					</div>
					<h6 class="text-uppercase text-white text-right">@Resources.Label.year</h6>
				</div>
			</div>
			<div class="col-md-2 col-sm-4">
				<div class="status-marks  text-white m-tb10">
					<div class="status-value text-right">
						<span class="counter">100</span>
						<i class="fa fa-users font-26 m-l15"></i>
					</div>
					<h6 class="text-uppercase text-white text-right">@Resources.Label.customer</h6>
				</div>
			</div>
			<div class="col-md-2 col-sm-">
				<div class="status-marks  text-white m-tb10">
					<div class="status-value text-right">
						<span class="counter">150</span>
						<i class="fa fa-user-plus font-26 m-l15"></i>
					</div>
					<h6 class="text-uppercase text-white text-right">@Resources.Label.employee</h6>
				</div>
			</div>
			<div class="col-md-6"></div>
		</div>
	</div>
</div>
<!-- COMPANY DETAIL SECTION End -->
<!-- LATEST BLOG SECTION START -->
<div class="section-full latest-blog bg-gray p-t80 p-b50">
	<div class="container">
		<!-- TITLE -->
		<div class="section-head text-center">
			<h2 class="text-uppercase">@Resources.Label.latestBlog</h2>
			<div class="wt-separator-outer">
				<div class="wt-separator style-square">
					<span class="separator-left bg-primary"></span>
					<span class="separator-right bg-primary"></span>
				</div>
			</div>
			<p>@Resources.Label.LatestBlogDesc</p>
		</div>
		<!-- TITLE -->

		<div class="section-content ">
			<div class="row">
				<!-- COLUMNS 1 -->
				@foreach (var blog in Model.RecentBlogs)
				{
						<div class="col-md-4 col-sm-4">
							<div class="blog-post latest-blog-1 date-style-3">
								<div class="wt-post-media wt-img-effect zoom-slow">
									<a href="/fa/blog/@blog.Id"><img src="@blog.ImageUrl" alt="@blog.TitleSrt"></a>
								</div>
								<div class="wt-post-info p-a30 p-b20 bg-white">
									<div class="wt-post-title ">
										<h3 class="post-title"><a href="/fa/blog/@blog.Id">@blog.TitleSrt</a></h3>
									</div>
									<div class="wt-post-meta ">
										<ul>
											<li class="post-date"><i class="fa fa-calendar"></i><strong>@blog.SubmitDate.Day / @blog.SubmitDate.Month</strong> <span> @blog.SubmitDate.Year</span></li>

										</ul>
									</div>
									<div class="wt-post-text">
										<p>
											@blog.SummerySrt
									</div>
								</div>
							</div>
						</div>
				}

			</div>
		</div>
	</div>
</div>

<div class="section-full p-t80 p-b50">
	<div class="container">

		<!-- TITLE START -->
		<div class="section-head text-center">
			<h2 class="text-uppercase">@Resources.Label.OurCustomer</h2>
			<div class="wt-separator-outer">
				<div class="wt-separator style-square">
					<span class="separator-left bg-primary"></span>
					<span class="separator-right bg-primary"></span>
				</div>
			</div>
			<p>@Resources.Label.OurCustomerDesc</p>
		</div>
		<!-- TITLE END -->
		<!-- IMAGE CAROUSEL START -->
		<div class="section-content">
			<div class="owl-carousel client-logo-carousel">

				@foreach (var customer in Model.Customers)
				{
						<div class="item">
							<div class="ow-client-logo">
								<div class="client-logo wt-img-effect on-color">
									<a href="#"><img src="@customer.ImageUrl" alt="@customer.Title"></a>
								</div>
							</div>
						</div>
				}

			</div>
		</div>
	</div>

</div>


